/* Universal style  */
* {
    margin: 0;
    padding: 0;
}

/* primary button style */
.btn-primary {
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
}


/* header style                                          */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-brand h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;


}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}



/* banner styles  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;


}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 32px 0;
    /* 162.5% */
}

.banner img {
    width: 100%;
    margin-top: 32px;
}

/* main style  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* team container style  */
.teams-container {
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teams-img-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}




/* team title syle  */



.title-style-1 {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-style-2 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-style-3 {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* team desciption style */

.team-description {
    width: 537px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    /* 162.5% */
}

/* Features container style   */
.features-container {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.features-title {
    display: flex;
    align-items: center;

}

.features-title h2 {
    width: 400px;
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.title-line {
    height: 106px;
    border-left: 5px solid #FF900E;
}

.features-description {
    width: 586px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    /* 162.5% */
}

/* Features items style  */

.features-item {
    width: 586px;
    height: 140px;
    padding: 8px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}


.features-item h4 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.features-item p {
    width: 514px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    /* 162.5% */
}

/* .features items img style  */




.features-btn {
    position: relative;
    top: -120px;
    right: 60px;
}

.year {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.experience {
    color: #FFF;
    font-family: "Work Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}


/* Facts section style */

.facts-title {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.facts-description {
    width: 542px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.facts-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.facts-item {
    width: 241px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin-top: 20px;


}

.item-numer {
    color: var(--Dark-02, #424242);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.item-description {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Sponspors section style  
*/

.sponser-title {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;

}

.sponser-description {
    width: 542px;
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;

}

.sponser-lists {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list img {
    width: 165.833px;
    height: 50px;
    filter: grayscale(100%);

}


footer {
    border-radius: 8px;
    background: #FFF4E7;
    width: 1440px;
    margin: 0 auto;
    padding: 50px;

}

footer p {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;


}



/* ---------------------------------- */
/* responsive media quries  */


/* Mobile devices  */


@media screen and (max-width: 576px) {
    header {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
    }

    /* main section style  */



    /* teams container responsive style */

    .teams-container {
        padding: 0;
        flex-direction: column;

    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-img-container img {
        width: 200px;
    }

    .team-title {
        width: 300px;
        text-align: center;
        margin-top: 20px;
    }

    .team-description {
        width: 200px;
        margin: 0 auto;
    }

    .explore-more {
        text-align: center;
    }

    /* Features container  responsive style  */

    .features-container {
        flex-direction: column;
    }

    .features-title {
        justify-content: center;
    }

    .features-title h2 {
        width: 200px;
    }

    .title-line {
        height: 200px;
    }

    .features-description {
        width: 250px;
    }

    .features-item {
        width: 200px;
        height: 250px;
    }

    .features-item p {
        width: 200px;
    }

    .features-img img {
        width: 200px;
    }

    .year {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;

    }

    .experience {
        color: #FFF;
        font-family: "Work Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .features-btn {
        position: relative;
        top: -0px;
        right: 0px;

    }

    /* Facts section style */
    .facts-title {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }

    .facts-description {
        width: 200px;
        margin: 0 auto;
    }

    .facts-items {
        flex-direction: column;
    }

    .facts-item {
        margin-top: 20px;
    }

    /* Sponspor  sectio style  */
    .sponser-lists {
        flex-direction: column;
    }

    .list {
        margin-top: 20px;
    }

    footer {
        padding: 10px;
        width: 100%;
    }


}


/* Tablet or medium devices  */

@media screen and (min-width: 576px) and (max-width:1100px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    /* teams cnontainer responsive style  */
    .teams-container {
        padding: 0;
        flex-direction: column;

    }

    .team-title {
        text-align: center;
        margin-top: 20px;
    }

    .team-description {
        text-align: center;
    }

    .explore-more {
        text-align: center;
    }

    /* Features container style  */

    .features-container {
        flex-direction: column;
    }

    /* facts section style  */
    .facts-item {
        width: 180px;
    }

}