/* Universal style  */
* {
    margin: 0;
    padding: 0;
}

/* primary button style */
.btn-primary {
    background-color: #FF900E;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 20px 25px;
}


/* header style                                          */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-brand h3 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>ul {
    display: flex;
    align-items: center;


}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav li a {
    text-decoration: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}



/* banner styles  */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;


}

.banner-title {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 32px 0;
    /* 162.5% */
}

.banner img {
    width: 100%;
    margin-top: 32px;
}

/* main style  */

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* team container style  */
.teams-container {
    margin: 85px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teams-img-container {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}




/* team title syle  */



.title-style-1 {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title-style-2 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.title-style-3 {
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* team desciption style */

.team-description {
    width: 537px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 20px 0;
    /* 162.5% */
}




/* responsive media quries  */


/* Mobile devices  */


@media screen and (max-width: 576px) {
    header {
        padding: 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
    }

    /* main section style  */



    /* teams container responsive style */

    .teams-container {
        padding: 0;
        flex-direction: column;

    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-img-container img {
        width: 200px;
    }

    .team-title {
        width: 300px;
        text-align: center;
    }

    .team-description {
        width: 300px;
        text-align: center;
    }

    .explore-more {
        text-align: center;
    }

}


/* Tablet or medium devices  */

@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    /* teams cnontainer responsive style  */


}