body {
    margin: 0;
    padding: 0;
}

header {

    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-logo {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.link-list {
    display: flex;
    align-items: center;

}

.nav-link {

    list-style: none;
    margin: 0 10px;
}

.nav-link a {
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: "Work Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-decoration: none;
    /* 144.444% */
}

.header-intro-details h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: "Work Sans";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-intro-details p {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}


.explore-btn {

    background-color: #FF900E;
    padding: 20px 24px;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.header-banner-img {
    width: 1440px;
}


.main {
    width: 1440px;
    margin: 0 auto;
}

.features-sections {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features-title-details h2 {

    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

}

.verticale-line {
    border-left: 5px solid #FF900E;
    height: 90px;
}

.lovely-feature-title {
    display: flex;
    align-items: center;

}

.lovely-feature-title h2 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
}

.lovely-feature-details p {
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 568px;
    /* 162.5% */
}

.item h4 {
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.item {
    width: 586px;
    height: 171px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
}

.item p {
    color: var(--Dark-03, #727272);
    width: 514px;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}


.lovely-features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.feature-modle-banner {
    margin-top: 200px;
    margin-left: 200px;
}




.expirence-years {
    position: relative;
    bottom: 100px;
    right: 100px;


    background-color: #FF900E;
    width: 340px;
    border-radius: 8px;
    padding: 10px;



}

.expirence-years h3 {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.expirence-years p {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}